body {
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;

  /* letter-spacing: 1px; */
}

/* navigation style */
.nav-container {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

div.navigation {
  width: fit-content;
  margin: 0 auto;
}

div.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: auto;
}

div.navigation li.nav-item {
  font-size: 14px;
  display: inline-block;
}

div.navigation li.nav-item a.nav-link {
  text-decoration: none;
  color: #999;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 20px;
  width: 90px;
  text-align: center;
}

div.navigation li.nav-item a.nav-link:hover {
  text-decoration: none;
  color: #025279;
  background: rgba(2, 82, 121, 0.1);
}

/* body-content start */

.intro-container {
  margin-top: 100px;
  height: 300px;
}

p.intro-title {
  margin: 0px;
  font-weight: 700;
  font-size: 40px;
  color: #025279;
}
p.sub-text {
  letter-spacing: 0px;
  font-size: 16;
  color: #888;
}

.btn-scroll {
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 12px 24px;
  background-color: #0586c4;
  border-radius: 2px;
  border: none;
}
.btn-scroll:hover {
  background-color: #025279;
}

/* quote div start */
.skills-container {
  /* border: 1px solid red; */
  color: #333;
  background: #fff7f7;
  padding: 50px 80px;
  text-align: center;
}

.skills-container p {
  /* border: 1px solid red; */
  margin: 0 auto;
  font-size: 14px;

  color: #888;
  max-width: 70%;
}
.social-media-container {
  text-align: center;
  margin-top: 40px;
}
.social-media-container button {
  font-size: 13px;
  letter-spacing: 1px;
  padding: 10px 15px;
  color: #666;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
/* quote div ends */
/* body-content End */

/* footer styles */
footer {
  padding: 10px;
  background-color: #1d1d1d;
  text-align: center;
  color: #999;
  font-size: 12px;
}
